<!-- components/header.html -->
<nav class="navbar">
    <a href="index.html" class="logo">
        <img src="assets/University_of_the_Punjab_logo.png" alt="PU Logo" class="nav-logo">
        PUGC <span>SmartBot</span>
    </a>
    <ul class="nav-links">
        <li><a href="index.html"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="about.html"><i class="fas fa-info-circle"></i> About</a></li>
        <li><a href="contact.html"><i class="fas fa-envelope"></i> Contact</a></li>
        <li><a href="signup.html" class="btn-login"><i class="fas fa-sign-in-alt"></i> Sign In</a></li>
    </ul>
</nav>
